<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Royhatdan o'tish</title>

</head>
<body>
<!-- Start Breadcrumbs -->
<div layout:fragment="breadcrumb">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Royhatdan o'tish</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html"><i class="lni lni-home"></i>Asosiy sahifa</a></li>
                        <li>Royhatdan o'tish</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<div layout:fragment="content">
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="register-form">
                        <div class="title">
                            <h3>Akkountingiz yoqmi ? Royhatdan o'ting</h3>
                            <p>Registratsiyadan otish orqali, ko'proq imkoniyatga ega bo'ling</p>
                        </div>
                        <form class="row" method="post" th:action="@{/register}" th:object="${customerRegistration}" enctype="multipart/form-data">
                            <div th:if="${param.success}">
                                <div class="alert alert-info">Bizning tizimimizga muffaqiyatli a'zo bo'ldingiz
                                </div>
                            </div>
                            <div th:if="${param.email}">
                                <div class="alert alert-danger">
                                    Bu email orqali oldin ro'yhatdan o'tilgan
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="reg-fn">Ismingizni kiriting</label>
                                    <input class="form-control" th:field="*{firstName}" type="text" id="reg-fn" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="reg-ln">Familiyangizni kiriting</label>
                                    <input class="form-control" th:field="*{lastName}" type="text" id="reg-ln" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="reg-email">E-mail Address</label>
                                    <input class="form-control" th:field="*{username}" type="email" id="reg-email" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="phoneNumber">Telefon raqam</label>
                                    <input class="form-control" th:field="*{phoneNumber}" type="text" id="phoneNumber" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="countryName">Davlatni kiriting </label>
                                    <input class="form-control" type="text" th:field="*{countryName}" id="countryName" required="">
                                    <p th:if="${#fields.hasErrors('countryName')}" th:errorclass="error" th:errors="*{countryName}" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="cityName">Saharni kiritinge</label>
                                    <input class="form-control" type="text" th:field="*{cityName}" id="cityName" required="">
                                    <p th:if="${#fields.hasErrors('cityName')}" th:errorclass="error" th:errors="*{cityName}" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="address">Uy addressni kiriting</label>
                                    <input class="form-control" type="text" th:field="*{address}" id="address" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="postalCode">Postal kode</label>
                                    <input class="form-control" type="text" th:field="*{postalCode}" id="postalCode" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="password">Parol</label>
                                    <input class="form-control" type="password" th:field="*{password}" id="password" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="confirmPassword">Parolni tasdiqlash</label>
                                    <input class="form-control" type="password" th:field="*{confirmPassword}" id="confirmPassword" required="">
                                </div>
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Tasdiqlash</button>
                            </div>
                            <p class="outer-link">Allaqachon akkountingz bormi? <a href="login.html">Hozir kirishingz mumkin</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script1">

</th:block>
</body>
</html>