<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<!-- Start Breadcrumbs -->
<div layout:fragment="breadcrumb">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Biz bilan bog'laning</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li>
                            <a href="index.html"><i class="lni lni-home"></i>Asosiy sahifa</a>
                        </li>
                        <li>Biz bilan bog'lanish</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Breadcrumbs -->
<div layout:fragment="content">
    <!-- Start Item Details -->
    <section id="contact-us" class="contact-us section">
        <div class="container">
            <div class="contact-head">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Biz bilan bog'laning</h2>
                            <p>
                                Saytimizdagi elektron kitoblarni 3 usulda o‘qish mumkin: kitobxon mobil'
                                android-ilovasi orqali,
                                kitobxon windows-dasturi orqali yoki saytda onlayn ravishda
                            </p>
                        </div>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-12">
                            <div class="single-info-head">
                                <div class="single-info">
                                    <i class="lni lni-map"></i>
                                    <h3>Address</h3>
                                    <ul>
                                        <li>
                                            44 Shirley Ave. West Chicago,<br />
                                            IL 60185, USA.
                                        </li>
                                    </ul>
                                </div>

                                <div class="single-info">
                                    <i class="lni lni-phone"></i>
                                    <h3>Telefon</h3>
                                    <ul>
                                        <li>
                                            <a href="tel:+998904612309"
                                            >+998 90 461 23 09</a
                                            >
                                        </li>
                                        <li><a href="tel:+321556667890">+99899 461 23 09</a></li>
                                    </ul>
                                </div>

                                <div class="single-info">
                                    <i class="lni lni-envelope"></i>
                                    <h3>Pochta</h3>
                                    <ul>
                                        <li>
                                            <a href="mailto:support@shopgrids.com"
                                            >temurbek.zaripov140996@mail.ru</a
                                            >
                                        </li>
                                        <li>
                                            <a href="mailto:career@shopgrids.com"
                                            >dreamscome1214gmail.ru</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-12">
                            <div class="contact-form-head">
                                <div class="form-main">
                                    <form
                                            class="form"
                                            method="post"
                                            action="assets/mail/mail.php"
                                    >
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <input
                                                            name="name"
                                                            type="text"
                                                            placeholder="Ismingizni kiriting"
                                                            required="required"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <input
                                                            name="subject"
                                                            type="text"
                                                            placeholder="Mavzuni kiriting"
                                                            required="required"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <input
                                                            name="email"
                                                            type="email"
                                                            placeholder="Emailingizni kiriting"
                                                            required="required"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <input
                                                            name="phone"
                                                            type="text"
                                                            placeholder="Telefon raqamingiz"
                                                            required="required"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group message">
                            <textarea
                                    name="message"
                                    placeholder="Xabaringiz"
                            ></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group button">
                                                    <button type="submit" class="btn">
                                                        jo'ntish
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->

</div>


</body>
</html>