<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Nashriyot</title>
</head>
<body>
<!-- Start Breadcrumbs -->
<div layout:fragment="breadcrumb">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Biz bilan hamkor Nashriyotlar</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a th:href="@{/}"><i class="lni lni-home"></i>Asosiy sahifa</a></li>
                        <li>Nashriyotlar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<div layout:fragment="content">
    <section class="section blog-section blog-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="row">
                        <div th:each="publisher:${publisherList}" class="col-lg-4 col-md-6 col-12">
                            <div class="single-blog">
                                <div class="blog-img">
                                        <img th:src="@{https://c8.alamy.com/comp/2CBDA1K/modern-creative-simple-square-line-art-building-logo-design-vector-illustration-2CBDA1K.jpg}" alt="#">
                                </div>
                                <div class="blog-content">
                                    <h6>
                                        <span th:text="${publisher.name}"></span>
                                    </h6>
                                    <br>
                                    <span class="category"
                                          th:text="${#dates.format(publisher.createdAt, 'yyyy-MM-dd')}"></span>

                                    <p
                                            th:text="${#strings.length(publisher.description) > 25 ? #strings.substring(publisher.description, 0, 25) + '...' : publisher.description}"
                                    ></p>
                                    <div class="button">
                                        <a th:href="@{/publish(id=${publisher.id})}" class="btn">Ba'tafsil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination left blog-grid-page">
                        <ul class="pagination-list">
                             <span th:if="${currentPage<=1}">
                           </span>
                            <span th:unless="${currentPage<=1}">
                                <li><a th:if="${currentPage<=totalPages}"
                                       th:href="@{'/page/'+${currentPage-1}}">Prev</a>
                            </li>
                            </span>
                            <span th:each="i:${#numbers.sequence(1,totalPages)}">

                                <li><a th:if="${currentPage!=i}" th:href="@{'/page/'+${i}}">[[${i}]]</a></li>
                            <li class="active"><a th:unless="${currentPage!=i}">[[${i}]]</a></li>
                            </span>
                            <span th:if="${currentPage<totalPages}">
                                <li>
                                <a  th:href="@{'/page/'+${currentPage+1}}">Next</a>
                            </li>
                            </span>
                            <span th:unless="${currentPage<=totalPages}">

                            </span>

                        </ul>
                    </div>
                </div>
                <aside class="col-lg-4 col-md-12 col-12">
                    <div class="sidebar blog-grid-page">

                        <div class="widget search-widget">
                            <h5 class="widget-title">Nashriyotlarni izlash</h5>
                            <form action="#">
                                <input type="text" placeholder="Izlash...">
                                <button type="submit"><i class="lni lni-search-alt"></i></button>
                            </form>
                        </div>


                        <div class="widget popular-feeds">
                            <h5 class="widget-title">Eng ko'p kitob yetkazgan nashriyot</h5>
                            <div class="popular-feed-loop">
                                <div class="single-popular-feed" th:each="items:${activePublishers}">
                                    <div class="feed-desc">
                                        <a class="feed-img" href="#">
                                            <img th:src="@{https://c8.alamy.com/comp/2CBDA1K/modern-creative-simple-square-line-art-building-logo-design-vector-illustration-2CBDA1K.jpg}" alt="#">

                                        </a>
                                        <h6 class="post-title"><a th:href="@{/publish(id=${items.id})}"
                                                                  th:text="${#strings.length(items.description) > 25 ? #strings.substring(items.description, 0, 25) + '...' : items.description}"></a>
                                        </h6>
                                        <span class="time"><i class="lni lni-calendar"></i>
                                            <span th:text="${#dates.format(items.createdAt, 'yyyy-MM-dd')}"></span></span>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="widget categories-widget">
                            <h5 class="widget-title">Top Categories</h5>
                            <ul class="custom">
                                <li>
                                    <a href="javascript:void(0)">Editor's Choice</a><span>(24)</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Electronics</a><span>(12)</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Industrial Design</a><span>(5)</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Secure Payments Online</a><span>(15)</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Online Shopping</a><span>(7)</span>
                                </li>
                            </ul>
                        </div>


                        <div class="widget popular-tag-widget">
                            <h5 class="widget-title">Popular Tags</h5>
                            <div class="tags">
                                <a href="javascript:void(0)">#electronics</a>
                                <a href="javascript:void(0)">#cpu</a>
                                <a href="javascript:void(0)">#gadgets</a>
                                <a href="javascript:void(0)">#wearables</a>
                                <a href="javascript:void(0)">#smartphones</a>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>

</body>
</html>