<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Advertise</title>
    <style>
        label {
            margin: 0 0 0 2px;
        }

        .form-row, .form-group {
            margin-top: 16px !important;
        }

        select {
            width: 20em;
        }
    </style>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div th:if="${param.success}">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i>muvaffaqiyat!</h4>
                Ma'lumot muvaffaqiyatli saqlandi.
            </div>
        </div>
        <div th:if="${param.deleted}">
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Deleted!</h4>
                Malumot muvaffaqiyatly o'chirildi.
            </div>
        </div>
        <!-- Page Heading -->
        <h1 style="text-align: center" class="h3 mb-2 text-gray-800">Kitoblar uchun Reklama</h1>
        <p class="mb-4">Kitob do'konlari o'z ichiga bir qator kitoblar olib keladi.
            Bu kitoblar o'qishga va o'rganishga qiziqish duygan har bir kishi uchun boy bog'liq mavjud bo'lib,
            kitob do'konlari bu kitoblar sotish orqali pul ishlab keladi.
            Kitob do'konlari, bir nechta odamlar orasida
            kitob almashishni taqdim etadi. Bu usul o'qish va o'rganishga qiziqish
            duygan odamlar uchun qulaydir, chunki ular o'zlariga qiziqish duygan
            kitoblarni boshqa odamlar bilan almashish orqali boshqa
            qiziqishlarni tanlash imkoniyatiga ega bo'ladi.
        </p>
        <div class="container">
            <div th:each="ads:${adsList}" class="card mb-3 p-3 col-lg-6 col-md-6 col-6">
                <img class="bd-placeholder-img card-img-top"
                     style="width: auto; height: 180px"
                     th:src="@{${ads.getFullImage1Url()}}"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="${ads.titleForAd}"></h5>
                    <p class="card-text" th:text="${ads.description}"></p>
                    <small class="text-muted">
                        <p class="card-text" th:text="${ads.date_released}">
                        </p>
                    </small>
                    <br>
                    <a th:href="@{'/ads/update/'+${ads.id}}" class="btn btn-success">yangilash</a>
                    <a th:href="@{'/ads/delete/'+${ads.id}}" class="btn btn-danger">o'chirish</a>
                </div>
            </div>
        </div>

    </div>
</div>
<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <!-- Datepicker -->
    <!--    <script th:src="@{/static/js/multiselect.js}"></script>-->
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#multiple-checkboxes').multiselect({
                includeSelectAllOption: true,
            });
        });
    </script>
</th:block>
</body>
</html>