<footer class="footer">

    <div class="footer-middle">
        <div class="container">
            <div class="bottom-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-contact">
                            <h3>Biz bilan bog'lanish</h3>
                            <p class="phone">Phone: +998906390634</p>
                            <ul>
                                <li><span>Dushanba-Juma: </span> 09.00 - 20.00 </li>
                                <li><span>Shanba: </span> 10.00 - 18.00 </li>
                            </ul>
                            <p class="mail">
                                <a href="mailto:support@shopgrids.com"
                                >temurbek.zaripov140996@mail.ru</a
                                >
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer our-app">
                            <h3>Bizning mobil ilovalarimiz</h3>
                            <ul class="app-btn">
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="lni lni-apple"></i>
                                        <span class="big-title">App Storedan </span>
                                        <span class="small-title">yuklang</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="lni lni-play-store"></i>
                                        <span class="big-title">Google Playdan</span>
                                        <span class="small-title">yuklashingiz mumkin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h3>Kerakli ma'lumotlar</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Biz haqimizda</a></li>
                                <li><a href="javascript:void(0)">Biz bilan bog'laning</a></li>
                                <li><a href="javascript:void(0)">FAQs sahifasi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h3>Bazi kategoriyalar</h3>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)"
                                    >Badiy kitob &amp;Badiy asarlar </a
                                    >
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Detektiv &amp; Sarguzashtlar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Klassika &amp; Tragediya</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"
                                    >Qissa &amp; Dostonlar</a
                                    >
                                </li>
                                <li><a href="javascript:void(0)">Komediya</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>