<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Cart</title>
</head>
<body>
<!-- Start Breadcrumbs -->
<div layout:fragment="breadcrumb">
  <div class="breadcrumbs">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="breadcrumbs-content">
            <h1 class="page-title">Single Product</h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <ul class="breadcrumb-nav">
            <li><a href="index.html"><i class="lni lni-home"></i> Home</a></li>
            <li><a href="index.html">Shop</a></li>
            <li>Single Product</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->
<div layout:fragment="content">
  <h1>this is pdf</h1>
  <!--Shopping cart section-->
<!--  <img th:src="@{'http://localhost:81/admin'+${product.getFullImage1Url()}}" style="width:100%;height:800px;"></img>-->
<!--  <object data="forE_Price.pdf" type="application/pdf" style="width:100%;height:800px;"></object>-->
<!--&lt;!&ndash;  'http://localhost:81/admin/' + ${product.fullPdf}&ndash;&gt;-->
<!--  <object data="../../static/forE_Price.pdf" type="application/pdf" width="300" height="200">-->
<!--    alt : <a href="test.pdf">test.pdf</a>-->
<!--  </object>-->
  <iframe src="../../static/forE_Price.pdf" style="width:100%;height:700px;"></iframe>
</div>


</body>
</html>